body
{
    background-color:rgb(122, 76, 84);
}
body.note{
    background-color: rgb(186, 149, 217);
}
body.login{
    background-color: aquamarine;
}
input
{
    color: rgb(20, 25, 30);
    font-family: monospace;
    font-size: 20px;
    font-style: italic;
    background-color: rgba(8, 8, 8, 0.183);
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
input.note{
    color: lightslategrey;
    font-family: monospace;
    font-size: 15px;
    font-style: italic;
    background-color: rgb(173, 153, 165);
    font-weight: bolder;
    text-align: center;
}
input.login
{
    color: lightslategrey;
    font-family: monospace;
    font-size: 15px;
    font-style: italic;
    background-color: powderblue;
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
label
{
    font-size: 40px;
    font-style: normal;
    height: 30px;
    width: 500px;
}
a{
    color: rgb(18, 2, 2);
}